@inherits LayoutComponentBase

<header class="top-bar">
    <h1>Everdawn</h1>
</header>

<nav class="top-nav">
    <NavLink class="top-nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink class="top-nav-link" href="battle">Battle</NavLink>
    <NavLink class="top-nav-link" href="world">World</NavLink>
    <NavLink class="top-nav-link" href="inventory">Inventory</NavLink>
    <NavLink class="top-nav-link" href="report">Stats</NavLink>
</nav>

<main class="container">
    @Body
</main>
